<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <br/>
    <div class="jumbotron">
        <h1>Add A Task</h1>
      
        </h2>
            <a href="/" class="btn btn-primary">Home</a>
            <a href="GetBook.html" class="btn btn-primary">List All Tasks</a>

        <form action="/newbookpost" method="POST">
            <div class="form-group">
                <label>Task Name</label>
                <input type="text" class="form-control" placeholder="Task Name" name="TaskName">
            </div>
            <div class="form-group">
                <label>Task Due</label>
                <input type="text" class="form-control" placeholder="Task Due" name="TaskDue">
            </div>
            <div class="form-group">
                <label>Task Desc</label>
                <input type="text" class="form-control" placeholder="Task Desc" name="TaskDesc">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>