<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <img src="task.jpg" style="width:100px;height:150px;">
    <h1>Delete Task</h1></br>
    <h1>
        <a href="/">Add Task</a>
        <a href="/getusers">List All</a>
        <a href="/updateuser">Update Task</a>
        <a href="/deleteuser">Delete Task</a>
    </h1>
    <form action="/deleteuserdata" method="POST">
        ID <input type="number" method="POST" name="uname" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
    <form action="/deleteComplete" method="POST">
        <input type="submit" value="Delete Complete" /> </br>
    </form>
</body>
</html>