<html>
<head>
        <link rel="stylesheet" href="Styles.css">
</head>
<body>
        <img src="task.jpg" style="width:100px;height:150px;">
    <h1> Add Task</h1> </br>
    <h1>
        <a href="/">Add Task</a>
        <a href="/getusers">List All</a>
        <a href="/updateuser">Update Task</a>
        <a href="/deleteuser">Delete Task</a>
    </h1>
    <form action="/addnewuser" method="POST">
        User Name <input type="text"  name="uname" /> </br>
        User Aisgnto <input type="Text"  name="asignto" /> </br>
        User DueDate <input type="date"  name="uDate" /> </br>
        User TaskComplete <input type="radio" value="Complete"  name="uStatus" /> </br>
        User TaskInprogress <input type="radio" value="in progress"  name="uStatus" /> </br>
        User Desc <input type="text" method="POST" name="udesc" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>