<html>
<head>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
</head>
<body>
        <img src="logo.jpg" style="width:100px;height:150px;">
    <h1>List All</h1> </br>
    <h1> <a href="/">Add Task</a>
        <a href="/getusers">List Task</a>
        <a href="/updateuser">Update Task</a>
        <a href="/deleteuser">Delete Task</a>
    </h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Asign_To</td>
            <td>Due Date</td>
            <td>Status</td>
            <td>Desc</td>
        </tr>
        <% for (let i=0;i<usersDb.length;i++){ %>
            <tr>
                <td><%= usersDb[i].id %> </td>
                <td><%= usersDb[i].name %> </td>
                <td> <%= usersDb[i].asignto %> </td>
                <td><%= usersDb[i].DueDate %></td>
                <td><%= usersDb[i].TaskStatus %></td>
                <td><%= usersDb[i].Desc %></td>
            </tr>
            <%}%>
    </table>
</body>
</html>